{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "trace",
          "error"
        ]
      }
    ],
    "quotes": "off"
  }
}
