# project-related
*.sqlite
*.sqlite-journal

# deployment-related
secrets.yaml
.helmsman-tmp

# node-related
node_modules
*.log*
.nitro
.cache
.output
.env
dist
coverage

# system-related
.DS_Store

.vscode
